
/* CSS RESET */

*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

/*  */

body,html{
    min-height: 100vh;
}
.header{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #475569;
    align-items: center;
}
.header p{
    font-size: 1.25rem;
    padding: 1rem;
}
a:hover{
    color: rgba(24, 22, 22, 0.671);
    cursor: pointer;
}
.nav{
    font-size: 1.25rem;
    padding: 1rem;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.nav > *{
    justify-self: center;
}

#content{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: minmax(50px,1fr) 10fr minmax(50px,1fr);
}

.main-content p{
    color: rgb(7, 19, 19);
}

.main-content{
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #047857;
    gap: 1rem;
}
.main-content img{
    width: 600px;
    height: 400px;
    image-rendering: auto;
}

.footer{
    padding: 1rem;
    display: grid;
    align-items: center;
    /* justify-items: center; */
    grid-template-columns: repeat(3,1fr);
    background-color: #475569;
    grid-column: 1/4;
    grid-row: 3/4;
}

.footer p {
    grid-column: 2/3;
}
.footer a {
    grid-column: 3/4;
    grid-row: 1/2;
    color: black;
    text-decoration: none;   
}
a:focus{
    color: none;
}